<div class="bg-dark text-white py-5">
<h2>Eventos</h2>
</div>

  <div class="row">
    <div class="col-sm">
        <ul class="events">
            <li *ngFor="let event of events" (click)="onSelectEvent(event)">
              <!-- <span class="badge">{{event.ID}}</span> {{event.Name}} -->

              <div id="event_{{event.ID}}">
                <div class="img_channel"></div>

                <div>
                  <div>
                    <h2 class="event_title">{{event.Name}}</h2>
                  </div>

                  <div>
                    <span class="event_desc">{{event.Description}}</span>
                  </div>
                </div>
              </div>
            </li>
        </ul>
      </div>
      <div class="col-sm">
          <app-description [event]="selectedEvent"></app-description>
        </div>
  </div>
