<div id="sidebar">
    
    <ul>
       <a class="nav-link" [routerLink]="['/']" (click)="Sidevar()" > <img  src="./assets/img/guianova2.png"  class="img-thumbnail"  /></a>
    

        <li class="Border">
            <a>Todos...</a>
        </li>
        <h6 class="">Deportes</h6>
        <li class="">Futbol Americano</li>
        <li >
                <a class="nav-link" [routerLink]="['Eventos']" (click)="Sidevar()" >Futbol Soccer</a>
        </li>
        <li> Basketball</li>
        <li class="Border">Baseball</li>
        <li>Especiales</li>
        <li>Conciertos</li>
        <li>Premios</li>
        <li>Otros</li>
    </ul>
  
</div>
