<div class="bg-light text-dark container-fluid" *ngIf="event" >
 <!-- <button (click)="goBack()">Atras</button>  para un futuro,si no se usa... se quita-->
 <input type="hidden" value="{{event.ID}}" />
  
  <div class="event-basic-info">
    <div class="div-img-title">
      <div class="div-type-img">
        <!-- <img *ngIf="event.EventType.ID==1" src="./assets/img/americanogrande_rect.png" /> -->
        <img *ngIf="event.EventType.ID==2" src="./assets/img/soccergrande_rect.png" />
       
        <img *ngIf="event.EventType.ID==3" src="./assets/img/basketballgrande_rect.png" />
        <img *ngIf="event.EventType.ID==4" src="./assets/img/baseballgrande_rect.png" />
        <img *ngIf="event.EventType.ID==5" src="./assets/img/musicagrande_rect.png" />
        <img *ngIf="event.EventType.ID==6" src="./assets/img/premiosgrande_rect.png" />
        <img *ngIf="event.EventType.ID==7" src="" />
        <div class="div-title-sch">
          <p id="event-title">{{event.Name}}</p>
          <p class="event-schedule">{{event.StartSch}}</p>
        </div>
      </div>

     <!-- <div class="div-title-sch">
        <p id="event-title">{{event.Name}}</p>
        <p class="event-schedule">{{event.StartSch}}</p>
      </div>-->
    </div>

    <div class="div-dur-desc">
      <p>Aprox <span>{{eventDuration}}</span> {{timeFormat}}</p>
      <p>{{event.Description}}</p>      
    </div>
  </div>

  <div class="event-channels-list">
    <ul>
      <li *ngFor="let channel of event.List">
        <div class="div-channel">
          <table>
            <tr>
              <td class="td-channel-img">
                <div class="div-channel-img">
                  <img src="{{channel.Img}}" />
                </div>
              </td>

              <td>
                <p class="channel-title">{{channel.Name}}</p>
              </td>

              <td class="td-link-img" *ngIf="channel.Url">
                <a class="br-link" target="_blank" href="{{channel.Url}}">
                  <img src="./assets/img/world_d.png" />
                </a>
              </td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>