<div class="bg-light text-dark container-fluid" *ngIf="event" >
 <!-- <button (click)="goBack()">Atras</button>  para un futuro,si no se usa... se quita-->
 <input type="hidden" value="{{event.ID}}" />
  
  <div class="event-basic-info">
    <div>
      <div id="div-type-img">
        <img *ngIf="event.EventType.ID==1" src="./assets/img/americanogrande_rect.png" />
        <img *ngIf="event.EventType.ID==2" src="./assets/img/soccergrande_rect.png" />
        <img *ngIf="event.EventType.ID==3" src="./assets/img/basketballgrande_rect.png" />
        <img *ngIf="event.EventType.ID==4" src="./assets/img/baseballgrande_rect.png" />
        <img *ngIf="event.EventType.ID==5" src="./assets/img/musicagrande_rect.png" />
        <img *ngIf="event.EventType.ID==6" src="./assets/img/premiosgrande_rect.png" />
        <img *ngIf="event.EventType.ID==7" src="" />
      </div>

      <div>
        <p id="event-title">{{event.Name}}</p>
        <p class="event-schedule">{{event.StartSch}}</p>
      </div>
    </div>

    <div>
      <p>Aprox <span>{{eventDuration}}</span> {{timeFormat}}</p>
      <p>{{event.Description}}</p>      
    </div>
  </div>

  <div class="event-channels-list">
    <ul>
      <li *ngFor="let channel of event.List">
        <div>
          <img class="eventImg" src="{{channel.Img}}" />

          <p>{{channel.Name}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>