    * {
    margin: 0px;
    padding: 0px;
    
    }
    .toggle-btn{
        position: absolute;
        width: 200px;
        height:100% ;
        left: 30px;
        top: 45px;
    }
    
    .toggle-btn span {
        display: block;
        width: 30px;
        height: 5px;
        background: white;
        margin: 5px 0px;
        }
    
    
    .barmenu{
       background: #151719;
    }
    
    
    #sidebar {
        position: absolute;
        padding-top: 2px;
        top: 90px;
        width: 170px;
        height:90% ;
        background: white;
        left: -200px;
        z-index:3;
        }
        #sidebar.active {
            left: 0px;
            }
        #sidebar ul li{
            padding: 8px;
            }